@import "../scss/main";

.componentWrapper {
  margin: 0% 20%;
  background-color: white;
  border-radius: 30px;
  margin-bottom: 3%;
}
#topTitle {
  color: white;
  text-align: center;
  font-size: 4rem;
  color: $brandPurple;
  padding-top: 40px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .componentWrapper {
    margin: 0 2%;
  }
  #topTitle {
    font-size: 38px;
  }
  .tableWrapper {
    th {
      font-size: 1.4rem;
    }
  }
}
