<div class="componentWrapper">
  <h1 id="topTitle">The Leaderboard</h1>
  <div class="tableWrapper">
    <table *ngFor="let data of leaderboards$ | async">
      <tr>
        <th id="exerciseType">{{ data.catagory }}</th>
        <th>Accuracy</th>
        <th>Time</th>
      </tr>
      <tr *ngFor="let firstPlace of data.firstPlaceUser">
        <td id="username">
          <i class="fas fa-crown"></i>
          {{ firstPlace.userName }}
        </td>
        <td>{{ firstPlace.accuracy }}</td>
        <td>{{ firstPlace.time }}</td>
      </tr>
      <tr *ngFor="let secondPlace of data.secondPlaceUser">
        <td id="username">{{ secondPlace.userName }}</td>
        <td>{{ secondPlace.accuracy }}</td>
        <td>{{ secondPlace.time }}</td>
      </tr>
      <tr *ngFor="let thirdPlace of data.thirdPlaceUser">
        <td id="username">{{ thirdPlace.userName }}</td>
        <td>{{ thirdPlace.accuracy }}</td>
        <td>{{ thirdPlace.time }}</td>
      </tr>
    </table>
  </div>
</div>
