<div class="componentWrapper">
  <h1 id="topTitle">The Leaderboard</h1>
  <div class="tableWrapper">
    <table>
      <tr>
        <th id="exerciseType">JavaScript</th>
        <th>Accuracy</th>
        <th>Time</th>
      </tr>
      <tr>
        <td id="username"><i class="fas fa-crown"></i> Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
      </tr>
      <tr>
        <td id="username">Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
      </tr>
      <tr>
        <td id="username">Ernst Handel</td>
        <td>Roland Mendel</td>
        <td>Austria</td>
      </tr>
      <tr>
        <th id="exerciseType">Company</th>
        <th>Contact</th>
        <th>Country</th>
      </tr>
      <tr>
        <td id="username">Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
      </tr>
      <tr>
        <td id="username">Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
      </tr>
      <tr>
        <td id="username">Ernst Handel</td>
        <td>Roland Mendel</td>
        <td>Austria</td>
      </tr>
    </table>
  </div>
</div>
