@import "../scss/main";

.componentWrapper {
  margin: 0% 15%;
  background-color: white;
  border-radius: 30px;
}
#topTitle {
  color: white;
  text-align: center;
  font-size: 4rem;
  color: $brandPurple;
  padding-top: 40px;
}
.tableWrapper {
  margin-bottom: 30%;

  table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 30px;
    background-color: white;
  }

  th {
    text-align: left;
    border: none;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: #004bf814;
  }
  #exerciseType {
    padding: 15px;
  }
  #username {
    padding: 10px 50px;
  }

  td {
    border-bottom: 1px solid #ededed;
  }
  tr:last-child > td {
    border-bottom: 0;
  }
  #top {
    border-radius: 30px;
  }
  .fa-crown {
    color: gold;
  }
}
