<div class="componentWrapper">
  <h1 id="topTitle">The Leaderboard</h1>
  <div class="tableWrapper">
    <table *ngFor="let data of leaderboards$ | async">
      <tr>
        <th id="exerciseType">{{ data.catagory }}</th>
        <th>Accuracy</th>
        <th>Time</th>
      </tr>
      <!-- <tr>
        <td id="username">
          <i class="fas fa-crown"></i>
          {{ data.fistPlaceUser.userName }}
        </td>
        <td>{{ data.fistPlaceUser.accuracy }}</td>
        <td>{{ data.fistPlaceUser.time }}</td>
      </tr> -->
    </table>
  </div>
</div>

<!-- *ngFor="let firstPlace of data.firstPlaceUser" -->
