<div class="componentWrapper">
  <div class="topContainer">
    <h1>{{ topTitle }}</h1>
  </div>
  <div class="exerciseWrapper">
    <div id="questionCardContainer" class="exerciseDataDisply">
      <h2>{{ exerciseDataDisplay }}</h2>
      <h3 *ngIf="!hasUserStarted">Type the syntax that appears in this box</h3>
      <button
        class="buttonAlternative"
        (click)="startExercise()"
        *ngIf="!hasUserStarted"
      >
        Start Exercise
      </button>
    </div>
    <div *ngIf="hasUserStarted" class="inputArea">
      <input
        (keyup)="validateInput($event)"
        #userInput
        name="clearData"
        [(ngModel)]="clearData"
        placeholder="Type Syntax Here"
        autofocus
        autocomplete="off"
      />
    </div>
  </div>
</div>
