<div class="componentWrapper">
  <div class="titleContainer">
    <h1>{{ this.exercise.title }}</h1>
  </div>
  <div class="exerciseWrapper" id="exerciseWrapper">
    <div
      *ngIf="!hasFinished"
      id="questionCardContainer"
      class="exerciseDataDisply"
    >
      <h2 *ngIf="hasStarted">{{ this.exercise.question }}</h2>
      <h3 *ngIf="!hasStarted">Type the syntax that appears in this box</h3>
      <button
        class="buttonAlternative-medium"
        (click)="startExercise()"
        *ngIf="!hasStarted"
      >
        Start Exercise
      </button>
    </div>
    <div *ngIf="hasStarted && !hasFinished" id="inputArea" class="inputWrapper">
      <input
        (keyup)="validateInput($event)"
        id="userInput"
        placeholder="Type Syntax Here"
        autofocus
        autocomplete="off"
      />
    </div>
    <div
      *ngIf="hasFinished"
      class="exerciseDataDisply"
      id="exerciseReportContainer"
    >
      <h4>Accuracy</h4>
      <span>{{ exercise.accuracy }}%</span>
      <h4 id="wpmHeader">Elapsed Time</h4>
      <span>{{ timer.elapsed }}s</span>
    </div>
  </div>
</div>
