@import "../scss/main";

.headerContainer {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
}
.inner {
  a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    align-self: center;
  }
  a:hover {
    color: $brandPurple;
    transition: 300ms;
  }
}
#headerLogo {
  padding-right: 450px;
}
#headerLogo:hover {
  cursor: pointer;
}
.navItem {
  padding-left: 30px;
}
