@import "../scss/main";

.headerNav {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to right, $brandBlue, $brandGreen);
  img {
    align-self: center;
    padding: 5px;
    margin-left: 15%;
    margin-right: 30%;
  }
  a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    align-self: center;
    padding-left: 5%;
  }
}
