@import "../scss/main";

.headerNav {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: linear-gradient(to right, $brandBlue, $brandGreen);
  img {
    align-self: center;
    padding: 5px;
  }
  a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    align-self: center;
  }
}
