.introContainer {
  padding-left: 4rem;
  padding-top: 3rem;
  margin: 0;
  h1 {
    color: white;
    line-height: 1.6rem;
    font-size: 3rem;
    font-weight: 500;
  }
  p {
    line-height: 2rem;
    font-size: 23px;
    color: white;
    font-weight: 300;
    width: 650px;
    padding-top: 2px;
  }
}
