.introContainer {
  padding-left: 9rem;
  padding-top: 122px;
  margin: 0;
  padding-bottom: 100px;
  h1 {
    color: white;
    line-height: 1.6rem;
    font-size: 4rem;
    font-weight: 500;
  }
  p {
    line-height: 2rem;
    font-size: 23px;
    color: white;
    font-weight: 300;
    width: 650px;
    padding-top: 2px;
  }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .introContainer {
    padding-left: 5rem;
    padding-top: 40px;
  }
}
