.introContainer {
  margin-left: 10%;
  padding-top: 10%;
  margin-bottom: 100px;
  h1 {
    color: white;
    line-height: 1.6rem;
    font-size: 55px;
    font-weight: 500;
  }
  p {
    line-height: 2rem;
    font-size: 23px;
    color: white;
    font-weight: 300;
    width: 650px;
    padding-top: 2px;
  }
}
