@import "../scss/main";
.componentWrapper {
  h1 {
    text-align: center;
    padding-top: 5%;
    font-size: 65px;
    font-weight: 400;
    color: $brandPurple;
  }

  background-color: white;
  .innerWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 15%;
    margin-right: 15%;
    .flex-item {
      margin: 1%;
    }
  }
}
