<div id="exerciseSelection" class="componentWrapper">
  <h1 id="containerTitle">Select An Exercise</h1>
  <div class="innerWrapper">
    <div
      (click)="sendExercise(data.title, data.questionData)"
      *ngFor="let data of exercies$ | async"
      class="card flex-item"
    >
      <div class="container">
        <h4>{{ data.title }}</h4>
        <i id="exerciseIcon" class="{{ data.tag }}"></i>
        <p id="exerciseDesc">
          with the release of Letraset sheets containing Lorem Ipsum passages,
          and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum
        </p>
        <button class="buttonAlternative">
          Continue
        </button>
      </div>
    </div>
  </div>
</div>
<svg
  _ngcontent-ehy-c2=""
  preserveAspectRatio="none"
  style="height: 200px; width: 100%;"
  viewBox="0 0 500 150"
>
  <path
    _ngcontent-ehy-c2=""
    d="M0.00,92.27 C216.83,192.92 304.30,8.39 500.00,109.03 L500.00,0.00 L0.00,0.00 Z"
    style="stroke: none;fill: white;"
  ></path>
</svg>
