@import "../scss/main";

.componentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  #containerTitle {
    text-align: center;
    padding-top: 3%;
    font-size: 65px;
    font-weight: 500;
    color: $brandPurple;
  }
  background-color: white;
}
.innerWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 75%;
  justify-content: center;
  .flex-item {
    margin: 1.5%;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .innerWrapper {
    width: 100% !important;
  }
  .componentWrapper {
    h1 {
      padding-top: 0 !important;
      margin-top: 0;
    }
  }
}
