@import "../scss/main";
.componentWrapper {
  h1 {
    text-align: center;
    padding-top: 5%;
    font-size: 60px;
    font-weight: 500;
    color: $brandPurple;
  }

  background-color: white;
  .innerWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
  }
}
