.buttonMain {
  width: 13%;
  padding: 0.382em 1em;
  background-color: transparent;
  color: #fffff0;
  border: 1px solid $brandGreen;
  border-radius: 30px;
  font-size: 26px;
  cursor: pointer;
}
.buttonMain:hover {
  background-color: $brandPurple;
}
.buttonAlternative {
  width: 70%;
  padding: 0.382em 1em;
  background-color: transparent;
  color: $brandPurple;
  border: 1px solid $brandBlue;
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 1%;
}
