.buttonMain {
  width: 12rem;
  padding: 0.382em 1em;
  background-color: transparent;
  color: #fffff0;
  border: 1px solid $brandGreen;
  border-radius: 30px;
  font-size: 1.3rem;
  cursor: pointer;
}
.buttonMain:hover {
  transition: 0.6s;
  color: $brandGreen;
  border: 1px solid white;
}
.buttonAlternative {
  width: 100%;
  padding: 0.382em 1em;
  background-color: white;
  color: black;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 5%;
}
.buttonAlternative:hover {
  transition: 0.2s;
}
.buttonAlternative-medium {
  width: 70%;
  padding: 0.382em 1em;
  background-color: transparent;
  color: $brandPurple;
  border: 1px solid $brandBlue;
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 5%;
}
.buttonAlternative-medium:hover {
  border: 1px solid $brandGreen;
}
