<div class="componentWrapper">
  <svg
    _ngcontent-hmr-c5=""
    preserveAspectRatio="none"
    style="height: 100%; width: 100%;"
    viewBox="0 0 500 150"
  >
    <linearGradient
      _ngcontent-hmr-c5=""
      id="grad3"
      x1="0%"
      x2="100%"
      y1="0%"
      y2="0%"
    >
      <stop _ngcontent-hmr-c5="" offset="0%" style="stop-color:#003eff"></stop>
      <stop
        _ngcontent-hmr-c5=""
        offset="100%"
        style="stop-color: #00ff9b"
      ></stop>
    </linearGradient>
    <path
      _ngcontent-hmr-c5=""
      d="M0.00,92.27 C216.83,192.92 304.30,8.39 500.00,109.03 L500.00,0.00 L0.00,0.00 Z"
      style="stroke: none;fill: url(#grad3);"
    ></path>
  </svg>
  <h1>Ready To Code Fast?</h1>
  <button class="buttonCta">Get Started Today</button>
</div>
